* {
    box-sizing: border-box;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    min-height: calc(100vh - $footer-height - $header-height);
}

div {
    margin: 0;
}

.h1-title {
            
        text-align: center;
        color: #2E4053;
        font-weight: 600;
        // text-shadow: 0.2rem 0.2rem #333;
        font-size: 5rem;
}







