
.band-members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.band-member {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    
    width: 16rem;
    align-items: center;

    h3, p {
        text-align: center;
    }

    img {
        height: 12rem;
        // border: 6px solid $theme-blue-color;
        // border-radius: 1rem;
        box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 15%);
        margin-bottom: 1rem;
      
    }
}