.blockquote {
    background-color: #FADBD8;
    border-top: 3px solid red;
    border-bottom: 3px solid red;
    margin: 2rem 0;

    li {
        font-size: 1rem;
        padding: .6rem;
    }
}