.history-text {
    img {
        width: 100%;
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 15%);
    }
}

.like-newspaper {

}

@media screen and (max-width: $small-screen-size) {
    .like-newspaper {
        flex-direction: column;
    }
}