
.home {
  .poster {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/concert.webp');
    height: 40rem;
    background-position: 0% 80%;
    border: 2px solid red;
  }

  .footer {
    border: 2px solid blue;
  }
}



