.poster-history {
    background-size: cover;
    background-image: url('../images/remembering-90s.webp');
    height: 20rem;
    background-position: 0% 0%;

    h1, h2 {        
        text-shadow: 0.2rem 0.1rem #333
    }
}